@import url(http://fonts.googleapis.com/css?family=Roboto:100);

.spotlight {
    text-align: center;
    color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    font-size: 450%;
    font-size: 450%;
}

html {
    font-family: 'Roboto', sans-serif;
}
center {
    text-align: center;
}
/* we use roboto for everything else */

.navpills {
    text-align: center;
}
.tupperware {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.left {
    text-align: left
}
.right {
    text-align: right
}
.deadmanloader {
    font-size: 0%;
}
.rockholder {
    background-image: url(../img/spotlight.jpg);
    min-height: 85px;
}

