.newspot {
    font-family: 'code92', sans-serif;
    text-align: center;
    font-size: 450%;
    font-size: 450%;
}

@font-face {
    font-family: 'code92';
    src: url('../fonts/bumpitup.ttf') 
        format('truetype');
        
}