@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

.code92 {
  font-family: 'Shadows Into Light Two', cursive;
    text-align: center;
    font-size: 450%;
    font-size: 450%;
}
