/* don't use on every page */

@import url(http://fonts.googleapis.com/css?family=Poiret+One|Roboto:100);
/* were using Roboto font, size 300 Light */

.headline {
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    color: white;
    position: fixed;
    margin-top: 350px;
    margin-left: 350px;
    text-align: right;
}

.html {
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

.scaffold {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #ecf0f1;
    text-align: right;
    text-decoration: none;
}

.navholder {
    margin-top: 475px;
    margin-left: 820px;
}

.notfoundlink {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.thisdivrocks {
    background-image: url(http://markgambardella.github.io/cdn/school/programming/img/main-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.boring {
    background-color: white;
}

.spotlight {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 450%;
    font-size: 450%;
}

.notfoundhead {
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    text-align: center;
}

.kindasmallish {
    font-size: 15px;
}

.navpills {
    text-align: center;
}

li {
    font-size: 15px;
}

.left {
    text-align: left
}

.right {
    text-align: right
}

.deadmanloader {
    font-size: 0%;
}

.rockholder {
    background-image: url(http://markgambardella.github.io/cdn/school/programming/img/main-bg.jpg);
    min-height: 85px;
    max-height: 90px;
}

.actor {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 450%;
    min-height: 85px;
    max-height: 90px;
}

.legible {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important
    }
    table.visible-xs {
        display: table
    }
    tr.visible-xs {
        display: table-row !important
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important
    }
}

@media (max-width: 767px) {
    .visible-xs-block {
        display: block !important
    }
}

@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline !important
    }
}

@media (max-width: 767px) {
    .visible-xs-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important
    }
    table.visible-sm {
        display: table
    }
    tr.visible-sm {
        display: table-row !important
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
        display: block !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
        display: inline !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important
    }
    table.visible-md {
        display: table
    }
    tr.visible-md {
        display: table-row !important
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline {
        display: inline !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 1200px) {
    .visible-lg {
        display: block !important
    }
    table.visible-lg {
        display: table
    }
    tr.visible-lg {
        display: table-row !important
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important
    }
}

@media (min-width: 1200px) {
    .visible-lg-block {
        display: block !important
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline {
        display: inline !important
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline-block {
        display: inline-block !important
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important
    }
}

.visible-print {
    display: none !important
}

@media print {
    .visible-print {
        display: block !important
    }
    table.visible-print {
        display: table
    }
    tr.visible-print {
        display: table-row !important
    }
    th.visible-print,
    td.visible-print {
        display: table-cell !important
    }
}

.visible-print-block {
    display: none !important
}

@media print {
    .visible-print-block {
        display: block !important
    }
}

.visible-print-inline {
    display: none !important
}

@media print {
    .visible-print-inline {
        display: inline !important
    }
}

.visible-print-inline-block {
    display: none !important
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important
    }
}

@media print {
    .hidden-print {
        display: none !important
    }
}

.notlink {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.fancy {
    font-family: 'Roboto', sans-serif;
}